body{
    background-color: var(--background-color) !important;
}


section{
    margin: 3em 0;
}


.font-primary {
    color: var(--primary-color);
}

.btn-primary{
    border: none !important;
}

.btn-primary:hover{
    background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
}

.pricing-table .card, .pricing-table .card-header, .pricing-table .card-body{
    background-color: var(--background-color);
    border: var(--bs-card-color) .1px solid;
}

.price{
    max-height: 5rem !important;
    margin-bottom: 1rem;
}

.col-lg-8{
    width: 85% !important;
}

#features .card{
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#features .card:hover{
    transform: translateY(-8px);
}


.card-header{
    color: #fff;
    font-size: 1.4em;
}

#hero{
    padding: 5em !important;
    height: 100vh;
    /* background-color: var(--background-color); */
    align-items: center;
    display: flex;
    z-index: -1;
}

#slogan{
    font-family: "Lexend Giga";
}


#features{
    background-color: var(--background-color);
    margin: 5em 0;
    padding: 6em !important;
    border-radius: 5%;
    box-shadow:
    inset 0 0 50px var(--text-color),      /* inner white */
    inset 20px 0 80px var(--primary-color),   /* inner left magenta short */
    inset -20px 0 80px var(--secondary-color),  /* inner right cyan short */
    inset 20px 0 400px var(--primary-color),  /* inner left magenta broad */
    inset -20px 0 400px var(--secondary-color), /* inner right cyan broad */
    0 0 50px var(--text-color),            /* outer white */
    -10px 0 80px var(--primary-color),        /* outer left magenta */
    10px 0 80px var(--secondary-color);         /* outer right cyan */
     

}

#start{
    margin-bottom: 10em;
}