:root {
    --primary-color: #BD63B0;
    --primary-color-rgb: 189, 99, 176;
    --secondary-color: #6A69DB;
    --text-color: #D1E5E5;
    --background-color: #000;
}  
html {
    data-bs-theme: "dark";
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
nav{
    position: sticky !important;
    top: 0;
    z-index: 1000;
    background-color: var(--bs-body-bg);
    border-bottom: #fff 1px solid;
}


.bg-primary, .btn-primary {
    background-color: var(--primary-color) !important;
}